* {
    margin: 0%;
    padding: 0%;
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: cadetblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: beige;
    height: 70vh;
    width: 23%;
    border: 6px rgb(160, 132, 95) solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.display {
    background-color: rgb(212, 212, 212);
    width: 100%;
    margin-top: 20px;
    width: calc(100% - 40px);
    height: calc(2/7*100%);
    border: 2px grey solid;
    border-radius: 30px;
}

.buttons {
    /* background-color: rgb(212, 212, 212); */
    width: calc(100% - 40px);
    height: calc(5/7*100%);
    margin-bottom: 20px;
    border-radius: 30px;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex: 1; */
}

.buttons>div {
    /* background-color: rgb(180, 129, 129); */
    flex: 1;
    /* border-radius: 30px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row1 {}

.buttons>div>div {
    background-color: rgb(120, 120, 211);
    flex: 1;
    border: 2px grey solid;
    border-radius: 30px;
    /* text-align: center; */
    /* line-height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    color: rgb(84, 84, 84);
}

.buttons>div>div:active {
    transform: translateY(3px);
    background-color: #4bab4e;
}

.buttons>div>div:hover {
    cursor: pointer;
    background-color: #4bab4e;
}

.buttons .row1 .delete {
    background-color: rgb(214, 214, 82);
}

.buttons .row1 .clear {
    background-color: rgb(222, 76, 76);
}

.buttons .row1 .delete:hover {
    background-color: rgb(198, 198, 50);
}

.buttons .row1 .clear:hover {
    background-color: rgb(176, 61, 61);
}